version: 2.1

orbs:
  go: circleci/go@1

references:
  go_version: &go_version '1.17'

workflows:
  test:
    jobs:
      - test:
          filters:
            branches:
              ignore: main

  test-acc:
    jobs:
      - test:
          name: test-acc
          acceptance: 'on'
          filters:
            branches:
              only: main

  release:
    jobs:
      - release:
          # Only run this job on git tag pushes
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+\.[0-9]+\.[0-9]+-noop/

jobs:
  test:
    parameters:
      go_version:
        type: string
        default: *go_version
      acceptance:
        type: string
        default: ''
        description: If set (to anything), it will run acceptance tests.
    environment:
      TF_ACC: << parameters.acceptance >>
    executor:
      name: go/default
      tag: '1.17'
    steps:
      - checkout
      - go/mod-download-cached
      - run:
          name: go mod tidy
          command: go mod tidy -v 2>&1 | [ $(wc -c) -eq 0 ]
      - go/test:
          failfast: true
          packages: '-v ./...'

  release:
    parameters:
      go_version:
        type: string
        default: *go_version
    docker:
      - image: circleci/golang:<< parameters.go_version >>
    steps:
      - checkout
      - run:
          name: gpg import
          command: echo -e "$GPG_KEY" | gpg --import
      - run:
          name: goreleaser
          command: curl -sL https://git.io/goreleaser | bash
